/* ################ General Styles */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
  margin: 0.5rem auto;
}

input {
  display: block;
  margin: 0 auto;
}

/* ################ Componente OnClick */
.card {
  padding: 0.5rem;
}

/* ################ Componente OnChange */

p {
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 0.8rem
}